
.login_label{
    display: inline-block;
    margin-bottom: .5rem;
    text-align: left;
    position: relative;
    margin-top: 20px;
    left: -480px;
}
input{
    width:200px;
}
.login_label1{
    display: inline-block;
    margin-bottom: .5rem;
    text-align: left;
    position: relative;
    left: -453px;
}
/*.login-logo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}*/
.login{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:lighter;
    color:#ff5858;
   
}
.login-button{
    position: relative;
    left:-210px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    background-color: #ff2323;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px;
    border:none;
    width:120px;
    height: 35px;
    color:white;
    border:1px inset #f59797;
}
.login-button:hover{
    background-color: rgb(27, 26, 26);
}

.modal-body {
    padding: 50px 50px;
    background: linear-gradient(35deg,#e9e8e8 49%, #f0efef 50%);
    box-shadow: 0 0 20px -10px rgb(0 0 0 / 50%);
    width: 115%;
    height: 408px;
    cursor: pointer;
    position: relative;
    left: -20px;
    border-radius: 10px;
}


